.email-contaier {
  display: flex;
  margin: 0.0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 100%;
  background-color: white;
  text-align:start;
}

.email-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  background-color: #161616;
  text-align: center;
  align-items: center;
}
.email-header h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
}

.linha{
  width: 100%;
  height: 5px;
  background-color: #A71313;
}

.email-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  text-align: left;
  width: 100%;
  height: 90%;
  padding: 2rem;
}

.email-body h1 {
  color: #A71313;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.email-body p{
  color: #161616;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 0;
}

@media (max-width: 1173px) {
  .email-contaier {
    width: 35%;
    height: 100%;
  }
  .logo {
    width: 50%;
    height: 75%;
  }
  .email-header h1 {
    font-size: 1rem;
  }
  .email-body h1 {
    font-size: 1rem;
  }
  .email-body h3{
    font-size: 0.8rem;
  }
}